<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css"
          rel="stylesheet"
          type="css">
    <style>
        #header {
            background-image: url(http://oldtimewallpapers.com/wallpapers/201204/1335251896.jpg);
            height: 300px;
            background-position-y: 900px;
        }


        #headerMenu {
            height: 70px;
            background: #65000b; /* Для старых браузров */
            background: linear-gradient(to top, #3b2120, #8e6261);
            border: 1px solid #8e6261;
            padding: 25px
        }

        #leftPanel.fixed {
            position: fixed;
            top: 0;
        }

        #column1.leftPos {
            margin-left: 170px;
        }

        #leftPanel {
            float: left;
            height: 500px;
            width: 130px;
            background: #65000b; /* Для старых браузров */
            background: linear-gradient(to right, #3b2120, #8e6261);
            border: 2px solid #3b2120;
            padding: 20px;
        }
        .content {
            margin-bottom: 10px;
            float: left;
            width: 100%;
            height: 300px;
            background: #f2ddc6; /* Для старых браузров */
            background: linear-gradient(to right, #f2ddc6, #fefefe);
            border: 2px solid #aaaa78;
            display: inline-block;
        }

        @media(max-width: 768px) {
            #leftPanel {
                display: none;
            }
            #contentBlock {
                margin-left: 0 !important;
            }
            #header {
                font-size: 20pt !important;
            }
            #headerMenu {
                font-size: 13pt !important;
            }
        }

        @media(max-width: 500px) {
            #header {
                font-size: 3pt !important;
            }
            #headerMenu {
                font-size: 2pt !important;
            }
        }

        @media(max-width: 920px) {
            .column {
                width: 20%;
            }
        }

        @media(min-width: 1700px) {

            .column {
                width: 500px !important;
                height: 1000px;
            }
            #contentAndMenu {
                display: flex;
                justify-content: center;
            }
        }
        .column {
            float: left;
            width: 25%;
            border: 2px solid #fae0cf;
        }
    </style>

</head>
<body style="background: #fae0cf; /* Для оч старых браузров */ background: linear-gradient(to right, #fae0cf, #fefefe); " >
    <header id="header" style="color: #fae0cf; text-align: center; font-size: 40pt;"><br>Картинка-добавитель-сохранитель и отображатель</header>
    <div id="headerMenu" style="font-size: 23pt; text-align: center; color: #fefefe;">
        Добавьте ссылку на картинку
        <input id="input" type="text" style="color: #333333;">
        <button id="button"; style="color: #333333;">Ок</button>
    </div>
    <div id="contentAndMenu">
        <div id="leftPanel" style="font-size: 21pt; text-align: center; color: #fae0cf;">Обычная кнопка <br><br>Полезная кнопка <br><br>Лишняя кнопка <br><br>Ненужная кнопка</div>
        <div id="contentBlock" >
            <div id="column1"; class="column">
                <!--<div class="content" style="height: 350px; background-image: url(http://s.pikabu.ru/post_img/2013/09/20/7/1379672686_1838390845.jpg); background-size: cover; background-position: center;"></div>-->
                <!--<div class="content" style="height: 300px; background-image: url(http://tops.ua/sites/default/files/a-a-560x433.png); background-position: center;"></div>-->
                <!--<div class="content" style="height: 350px; background-image: url(http://vignette3.wikia.nocookie.net/character-power/images/3/3b/%D0%92%D0%BE%D0%BB%D0%B0%D0%BD-%D0%B4%D0%B5-%D0%9C%D0%BE%D1%80%D1%821.jpg/revision/latest?cb=20140331125247&path-prefix=ru); background-position: center;"></div>-->
                <!--<div class="content" style="height: 400px; background-image: url(http://c.dryicons.com/files/graphics_previews/floral_heart.jpg); background-position: center;"></div>-->
                <% for (i=0; i<data.length/3; i++) {
                    console.log(i + ": " + data[i].text);
                    datum = data[Math.floor(i)]%>
                <div id="content<%=datum.id%>"; class="content"; style="height:<%=Math.floor(Math.random() * 200) + 250%>px; background-size: cover; background-position: center; background-image: url(<%=datum.text%>)">
                    <button onClick="removeImage(<%= datum.id%>)">x</button>
                </div>
                <%}%>
            </div>
            <div id="column2"; class="column">
                <!--<div class="content" style="height: 350px; background-image: url(http://metylancreativ.com/assets/thumbs/7af/7af2b3501d128037fb8a606a82fa5462.638x483_1/serdce.jpg); background-position: center;" ></div>-->
                <!--<div class="content" style="height: 400px; background-image: url(http://st.depositphotos.com/2706039/3239/v/450/depositphotos_32397165-heart-pattern.jpg); background-position: center;"></div>-->
                <!--<div class="content" style="height: 450px; background-image: url(http://s1.9gag.ru/uploads/gags/t7aw856d3i4zuvyon02m.jpg); background-position: center;"></div>-->
                <% for (i=data.length/3; i<data.length/3*2; i++) {
                    console.log(i + data[Math.floor(i)].text);
                    datum = data[Math.floor(i)]%>
                <div id="content<%=datum.id%>"; class="content"; style="height:<%=Math.floor(Math.random() * 200) + 250%>px; background-size: cover; background-position: center; background-image: url(<%=datum.text%>)">
                    <button onClick="removeImage(<%= datum.id%>)">x</button>
                </div>

                <%}%>

            </div>
            <div id="column3"; class="column">
                <!--<div class="content" style="height: 150px; background-image: url(http://risovach.ru/upload/2014/03/mem/milota_45308263_orig_.jpeg); background-size: contain;"></div>-->
                <!--<div class="content" style="height: 370px; background-image: url(http://svalko.org/data/2011_10_24_22_18_i563_photobucket_com_albums_ss72_chtoeto_320072_303015006381466_100000189063354_1438816_305811949_n.jpg); background-position: center;"></div>-->
                <!--<div class="content" style="height: 550px; background-image: url(https://pp.vk.me/c316829/v316829781/98ea/brjlE6UYsFo.jpg); background-position: center;"></div>-->
                <!--<div class="content" style="height: 350px; background-size: cover; background-image: url(http://www.youloveit.ru/uploads/gallery/main/533/harry-potter-and-the-deathly-hallows.jpg)"></div>-->

                <% for (i=data.length/3*2; i<data.length; i++) {
                    console.log(i + data[Math.floor(i)].text);
                    datum = data[Math.floor(i)]%>
                    <div id="content<%=datum.id%>"; class="content"; style="height:<%=Math.floor(Math.random() * 200) + 250%>px; background-size: cover; background-position: center; background-image: url(<%=datum.text%>)">
                        <button onClick="removeImage(<%= datum.id%>)">x</button>
                    </div>
                <%}%>

            </div>

    </div>
        <script>

            document.addEventListener("scroll", function() {
                var width = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;
                if (window.pageYOffset > 420 && width > 768) {
                    document.getElementById("leftPanel").classList.add('fixed');
                    document.getElementById("column1").classList.add('leftPos');
                } else {
                    document.getElementById("leftPanel").classList.remove('fixed');
                    document.getElementById("column1").classList.remove('leftPos');
                }
            })

            document.getElementById("button").addEventListener('click', function () {
                var request = new XMLHttpRequest();
                var text = document.getElementById('input').value;
                document.getElementById('input').value = "";
                var newId;
                request.onreadystatechange = function() {
                    if (request.readyState == XMLHttpRequest.DONE) {
                        newId = request.responseText.replace('ok', '');
                        var newDiv = document.createElement('div');
                        newDiv.id = 'content'.concat(newId);
                        newDiv.className = "content";
                        console.log('new id: ' + newDiv.id);
                        var button = document.createElement('button');
                        button.textContent = 'x';
                        button.onclick = function() {
                            removeImage(newId);
                        };

                        // generate random height
                        var number = Math.floor(Math.random() * 200) + 250;
                        newDiv.setAttribute("style", "height:" + number + "px");
                        // change background
                        newDiv.style.backgroundImage = 'url(' + text + ')';
                        newDiv.style.backgroundSize = "cover";
                        // find column and place new div there
                        number = Math.floor(Math.random() * 3) + 1;
                        document.getElementById('column' + number).appendChild(newDiv);
                        newDiv.appendChild(button);
                    }
                };
                request.open('POST', '/new?text=' + text);
                request.send();


            });

            function removeImage(id) {
                console.log('removeInage: ' + id);
                var request = new XMLHttpRequest();
                request.open('POST', '/delete?id=' + id);
                request.send();
                document.getElementById('content'+id).remove();
            }

            function generateRand(from, to) {
                return Math.floor(Math.random() * (to - from +1)) + from;
            }

        </script>
</body>
</html>